<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= job.post %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= job.id %>
  </p>

</div>
