<h1>Editing team member</h1>

<%= render "form", team_member: @team_member %>

<br>

<div>
  <%= link_to "Show this team member", @team_member %> |
  <%= link_to "Back to team members", team_members_path %>
</div>
