.headshot{
  height: 4em;
  border-radius: 5px;
  filter: grayscale(100%);
}

.member-details{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-member{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 6px 16px 0 rgb(31 36 38 / 15%);
  width: 160px;
  min-height: 160px;
  background-color: whitesmoke;
}

.job-title{
  max-width: 90%;
  margin: auto;
}

.member-container{
  min-width: 280px;
  max-width: 800px;
}
